<div class="widget widget-latest-post">
	{{ $exclude:=.Scratch.Get "exclude" }}
	<div class="media">
    <h4 class="widget-title">Project Details</h4>
          <ul>
            {{ range $i,$element:=.Params.details }}
            {{ if eq $element.label "Members" }}
            <li><span>{{ $element.label }} :</span> <strong>                	
            	{{ range $index,$member:=$element.info }}
            		{{ $authorlink:=path.Join "team/" ( $member | urlize) }}
            		{{ if $.Site.GetPage $authorlink }}
                	    <a href="{{ $authorlink | relURL }}">{{ if (ne $index 0) }}{{ ", " }}{{end}}{{ $member }}</a>
                	{{ else }}    
                	    <a>{{ $member }}</a>
                	{{ end }}    
                {{ end }}
            </strong></li>
            {{ else }}
            	{{ if .info }} 
               		<li><span>{{ .label }} :</span> <strong>{{ .info | markdownify }}</strong></li>
            	{{ end }}
            {{ end }}
            {{ end }}
          </ul>
    </div>
  </div>