<div class="widget widget-latest-post">
	{{ $exclude:=.Scratch.Get "exclude" }}
    <h4 class="widget-title"><a href="/team">Lab Members</a></h4>
    {{ range first 20 (where site.Pages "Type" "member") }}
    {{ if and (eq .Params.Status "current") (ne $exclude .Title) }}
    <div class="media">
      <a class="pull-left" href="{{ .Permalink }}">
        <img class="media-object" src="{{ .Params.Photo | relURL }}" alt="{{ .Title }}">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="{{ .Permalink }}">{{ .Name }}</a></h4>
        <p>{{ .Params.Lab_position }}</p>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>