{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<!-- Portfolio Start -->
<section class="portfolio-work">
	<div class="container">
		<div class="row">
			<!-- <div class="col-md-12">-->
        		<div class="block">
          			<div class="portfolio-menu justify-content-center">
		    			<div class="btn-group btn-group-toggle justify-content-center" data-toggle="buttons">
              				
              				<label class="btn btn-sm btn-primary" active>
                				<input type="radio" name="shuffle-filter" value="all" checked="checked">All
              				</label>
              				{{ $categories := slice }}
              				{{ range where .Site.Pages ".Params.type" "team" }}
              					{{ $categories = $categories | append .Params.lab_group }}
              				{{ end }}
              				{{ $categories:=uniq $categories }}
              				{{ $fixed_categories:= slice "PI" "Postdocs & Scientists" "Graduate Students" "Undergrads" "Alumni" }}
              				{{ $sorted_categories:=intersect $fixed_categories $categories }}
              				{{ $other:=$categories | complement $sorted_categories }}
              				{{ $sorted_categories:=append $other $sorted_categories }}
              				{{ range $sorted_categories }}
              					{{ if eq . "Alumni" }}
                  					<label class="btn btn-sm btn-primary btn-alumni">
                				{{ else }}
                  					<label class="btn btn-sm btn-primary">
                				{{ end }}
                      				<input type="radio" class="hide-show-content" name="shuffle-filter" value="{{ . | urlize }}">{{ . }}
                				</label>
              				{{ end }}
              				
              				<div class="list-alumni">
            					{{ range sort (where (where .Site.Pages ".Params.type" "team") ".Params.status" "==" "alumni" ) ".Params.status" "desc" }}
            						<div class="row" style="text-align:left;">
            							<div class="col-md-4">
            								<h3>{{ .Title }}</h3>
            							</div>
            							<div class="col-md-4">
            								<h3>former {{ .Params.lab_position }}<h3>
            							</div>
            							<div class="col-md-4">
            								{{ if .Params.current_position }}
            									<h3>{{ .Params.current_position }}<h3>
            								{{ end }}
            							</div>
				  					</div>
								{{ end }}
              				</div>
                    
                        </div>
                    </div>
                        	
          			<div class="row shuffle-wrapper" style="margin-left:auto;margin-right:auto;">
            			{{ range sort (where .Site.Pages ".Params.type" "team") ".Params.title" "asc" }} 
         					{{ if eq .Params.status "current" }}
    						    <div class="portfolio-item shuffle-item" style="padding:10px;" data-groups="[&quot;{{ .Params.lab_group | urlize }}&quot;]">
              						<img class="hover-shadow responsive" style="width:240px;height:auto;border-radius:10px" src="{{ .Params.Photo | relURL }}" alt="{{ .Title }}"/>
              						<div class="portfolio-hover" style="border-radius:10px">
        								<div class="portfolio-content">
          									<a href="{{ .Params.Photo | relURL }}" class="portfolio-popup"><i class="icon ion-search"></i></a>
                  							<a class="h3" href="{{ .Permalink }}">{{ .Title }}</a>
                  							<p>{{ .Params.Lab_position }}</p>
                						</div>
              					    </div>
    						    </div>
              				{{ end }}
            			{{ end }}
          			</div>
        
        		<!-- </div> -->
      		</div>
		</div>
	</div>
</section>

<style>
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>

{{ end }}
