{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $member:=.Params.Title }}
{{ $firstname:= index (split $member " ") 0 }}
<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="post post-single">
					<div class="post-thumb">
						<img class="img-responsive" src="{{ .Params.Photo | relURL }}" alt="{{ .Title }}">
					</div>
					<div class="section-title">
					    <h2>{{ $firstname }}'s Interests</h2>
					</div>
					<div class="post-content post-excerpt">
						{{ .Content }}
					</div>
					<div class="post-comments">
						{{ template "_internal/disqus.html" . }}
					</div>
				</div>
			</div>
            <div class="col-md-4">
            	{{ .Scratch.Set "exclude" .Title }}
                {{ partial "team-sidebar.html" . }}
            </div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>{{ $firstname }}'s Projects</h2>
				</div>
			</div>
			{{ range where .Site.Pages "Type" "project" }}
                {{ if in .Params.members $member }}
			<!-- <div class="col-md-6"> -->
				<div class="post">
				<div class="post-media">
					<div class="post-thumb">
						<a href="{{ .Permalink }}">
							<img class="demo" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
						</a>
					</div>
					<div>
					<h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
					<div class="post-content">
						<p>{{ .Summary }}</p>
						<a href="{{ .Permalink }}" class="btn btn-main">{{ i18n "read_more" }}</a>
					</div>
					</div>
				</div>
				</div>
			<!-- </div> -->
			{{ end }}
			{{ end }}
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>{{ $firstname }}'s Publications</h2>
				</div>
			</div>
			{{ range where .Site.Pages "Type" "publications" }}
                {{ if in .Params.members $member }}
			<!-- <div class="col-md-6"> -->
				<div class="post">
				<div class="post-media">
					<div class="post-thumb">
						<a href="{{ .Permalink }}">
							<img class="demo" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
						</a>
					</div>
					<div>
					<h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
					<div class="post-content">
						<p>{{ .Summary }}</p>
						<a href="{{ .Permalink }}" class="btn btn-main">{{ i18n "read_more" }}</a>
					</div>
					</div>
				</div>
				</div>
			<!-- </div> -->
			{{ end }}
			{{ end }}
		</div>
	</div>
</section>


