{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="page-wrapper">
	<div class="container">
		{{ range where .Pages}}
		<div class="row">
			<div class="col-md-8">
				<div class="post post-single">
					<div class="post-thumb">
						<img class="img-responsive" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
					</div>
					<div class="post-content post-excerpt">
						{{ .Title }}
					</div>
					<div class="post-comments">
						{{ template "_internal/disqus.html" . }}
					</div>
				</div>
			</div>
            <div class="col-md-4">
            	<!--{{ .Scratch.Set "exclude" .Title }}-->
                {{ partial "publications-sidebar.html" . }}
            </div>
		</div>
	</div>
</section>

{{ end }}