{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $member:=.Params.Title }}
{{ $author:=.Params.publish_name }}
{{ $firstname:= index (split $member " ") 0 }}

<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div>
				    <h2>About {{ $firstname }}</h2>
				</div>
				<div class="post post-single">
					<div class="post-thumb">
						<img style="width:200px;height:auto;padding:15px" align="left" src="{{ .Params.Photo | relURL }}" alt="{{ .Title }}">
						{{ .Content }}
					</div>
				</div>
				<br style="clear:left;"/>
				<hr>
				<div>
					<h2>{{ $firstname }}'s Projects</h2>
				</div>
			{{ range where .Site.Pages "Type" "project" }}
                {{ if in .Params.members $member }}
                <hr>
			<!-- <div class="col-md-6"> -->
				<div class="post">
				<div class="post-media">
					<div class="post-thumb" >
						<a href="{{ .Permalink }}">
							<img  class="hover-shadow" style="width:200px;height:auto;padding:10px;margin:10px" align="left" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
						</a>
					</div>
					    <div>
					        <h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
					        <div class="post-content">
						        <p>{{ .Summary }}</p>
						        <a align="right" href="{{ .Permalink }}" class="btn btn-main">{{ i18n "read_more" }}</a>
					        </div>
					    </div>
					 </div>   
				</div>
			<!-- </div> -->
			{{ end }}
			{{ end }}
                <hr>
				<div>
					<h2>{{ $firstname }}'s Publications</h2>
				</div>
				<hr>
			{{ range where .Site.Pages "Type" "publication" }}
                {{ if in .Params.authors $author }}
                	<p>
                	{{ $authors:=delimit .Params.authors ", " }}
                	{{ $otherauthors:=split $authors $author }}
                	{{ index $otherauthors 0 }}
                	<a><b>{{ $author }}</b></a>
                	{{ index $otherauthors 1 }}
                	({{ .Params.Date.Format "2006" }})
                	{{ .Params.title }}
                	{{ range $index,$citation:=.Params.links }}
                		{{ if ne $index 0 }}
                		    <a> | </a>
                		{{ end }}    
                		<a href={{ $citation.url }}><b>{{ $citation.label }}</b></a>
                	{{ end }}
                	</p>
			    {{ end }}
			{{ end }}
			    <hr>

			</div>
            <div class="col-md-3">
            	{{ .Scratch.Set "exclude" .Title }}
                {{ partial "team-sidebar.html" . }}
            </div>
		</div>
	</div>
</section>

<style>

img.hover-shadow {
  transition: 0.2s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>

{{ end }}
