{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $member:=.Params.Title }}
{{ $firstname:= index (split $member " ") 0 }}

<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				
					    <div>
					    <h2>{{ $firstname }}'s Interests</h2>
					    </div>
				<hr>	    
				<div class="post post-single">
					<div class="post-thumb">
						<img style="width:200px;height:auto;padding:15px" align="left" src="{{ .Params.Photo | relURL }}" alt="{{ .Title }}">
						{{ .Content }}
					</div>
				</div>
				<hr>
				<div>
					<h2>{{ $firstname }}'s Projects</h2>
				</div>
			{{ range where .Site.Pages "Type" "project" }}
                {{ if in .Params.members $member }}
                <hr>
			<!-- <div class="col-md-6"> -->
				<div class="post">
				<div class="post-media">
					<div class="post-thumb" >
						<a href="{{ .Permalink }}">
							<img  class="hover-shadow" style="width:200px;height:auto;padding:10px;margin:10px" align="left" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
						</a>
					</div>
					    <div>
					        <h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
					        <div class="post-content">
						        <p>{{ .Summary }}</p>
						        <a align="right" href="{{ .Permalink }}" class="btn btn-main">{{ i18n "read_more" }}</a>
					        </div>
					    </div>
					 </div>   
				</div>
			<!-- </div> -->
			{{ end }}
			{{ end }}
				<div>
					<h2>{{ $firstname }}'s Publications</h2>
				</div>
			{{ range where .Site.Pages "Type" "publications" }}
                {{ if in .Params.authors $member }}
                <hr>
			<!-- <div class="col-md-6"> -->
				<div class="post">
				<div class="post-media">
					<div class="post-thumb" >
						<a href="{{ .Permalink }}">
							<img  class="hover-shadow" style="width:200px;height:auto;padding:10px;margin:10px" align="left" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
						</a>
					</div>
					    <div>
					        <h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
					        <div class="post-content">
						        <p>{{ .Summary }}</p>
						        <a align="right" href="{{ .Permalink }}" class="btn btn-main">{{ i18n "read_more" }}</a>
					        </div>
					    </div>
					 </div>   
				</div>
			<!-- </div> -->
			{{ end }}
			{{ end }}

			</div>
            <div class="col-md-4">
            	{{ .Scratch.Set "exclude" .Title }}
                {{ partial "team-sidebar.html" . }}
            </div>
		</div>
	</div>
</section>

<style>

img.hover-shadow {
  transition: 0.2s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>

{{ end }}
